/* .backgroundgame {
    background-image: url("../../images/background/1.jpg");
    background-color: #cccccc;
        background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    position: relative;
  } */

  .choice-container {
        display: flex;
        margin-bottom: 5px;
        width: 80%;
        border-radius: 4px;
        background :blueviolet;
        font-size: 3rem;
        min-width: 80rem;
  }

  .choice-container:hover {
      cursor: pointer;
      box-shadow: 0 0.4rem 1.4rem 0 white;
      transform: scale(1.02);
      transform: transform 100ms;
  }

  .choice-prefix {
      padding: 2rem 2.5rem;
      color: white;
  }

  .choice-text {
      padding: 2rem;
      width: 25%;
  }

  .correct {
      background: linear-gradient(32deg, rgba(11,223,36) 0%, rgb(41,232,111) 100%);      
  }

  .incorrect{
      background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%), rgb(224, 11, 11, 1);
  }

  #hud {
      display: flex;
      justify-content: space-between;
  }

  .hud-prefix {
      text-align: center;
      font-size: 2rem;
  }

  .hud-main-text {
      text-align: center;
  }

  #progressBar {
      width: 20rem;
      height: 3rem;
      border : 0.2rem solid rgb(11,223,36);
      margin-top: 2rem;
      border-radius: 50px;
      overflow: hidden;
  }

  #progressBarFull{
      height:  100%;
      background: rgb(11,223,36);
      width: 0%;
  }


  @media screen and (max-width : 768px) {
        .choice-container {
            min-width: 40rem;
        }
  }



